body, a:link, a:visited, a:hover, a:active {
  font-size: 24px;
  color: #7B1FC1;
}

#centre {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
}
